{% extends "wikidatabase.html" %}
{% block body %}
{% set captcha = commonVars.captcha %}
<div id="static">
	<div id="searchtitle" class="darkgreen">
		<div class="wrap">
			<h2>Welcome to MyAvoxData</h2>
			<span>&nbsp;an <a href="http://avox.info">Avox</a> product</span>
		</div>
	</div>
	{% if captcha.success %}
	<div class="wrap">
		<p>Thanks for registering! Please check your email for your new password and <a href="/login">login here</a>.</p>
	</div>
	{% else %}
	<div class='wrap'>
		{% if commonVars.usersign['name']=='GUEST' %}
		<p>Please use the following form to sign-up for a guest account. This will grant you free access to over 2,500 <a href="/pages/sample_records.html">sample records</a>.</p>
		<p>Alternatively, if you have a full license, please <a href="/challenge">log-in</a> for access to our complete database. To find out more information about how you can subscribe to our complete database please visit <a href="/pages/about.html">About MAD</a>.</p>
		<form method="POST" action="/createuser" id="registerform">
			<div class="lightbluebox lightblueborder panel clear">
				<div class="left grid1col">
					<label for="name">Your name <span>(required)</span></label>
					<input class="required" type="text" name="name" id="name" size="35"/>
					<label for="email">Your email address <span>(required)</span></label>
					<input class="required email" type="text" name="email" id="email" size="35"/>
				</div>
				<div class="left grid1col">
					<label for="country">Contact number</label>
					<input type="text" name="contactnumber" id="contactnumber" size="35" />
					<div>
						<label for="company">Your company <span>(required)</span></label>
						<input type="text" name="company" size="35"/>
						<label for="independent" class="subfield"><span>or</span> check if independent</label>
						<input type="checkbox" name="independent" id="independent" class="subfield small" />
					</div>
				</div>
				<div class="left">
					<div>Are you human?</div>
					<script src="http://api.recaptcha.net/challenge?k=6Ld8HAgAAAAAAEIb34cZepZmJ0RlfeP6CmtoMO29" type="text/javascript"></script>
					<noscript>
						<iframe src="http://api.recaptcha.net/noscript?k=6Ld8HAgAAAAAAEIb34cZepZmJ0RlfeP6CmtoMO29" height="300" width="500" frameborder="0"></iframe><br />
						<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
						<input type='hidden' name='recaptcha_response_field' value='manual_challenge' />
					</noscript>
						{% if captcha.failure %}
					<div class="captcha_error">
						<p>Whoops! I think you made a mistake with the CAPTCHA. Please try again.</p>
					</div>
						{% endif %}
				</div>
			</div>
			{% if message %}
			<div class="error">
				<p>{{ message }}</p>
			</div>
			{% endif %}
			<input id='submit' class="submitButton darkgreen lightborder whitetext caps margintop" type="submit" value="Register for guest account"/>
		</form>
		{% else %}
		<p>Welcome back {{commonVars.usersign.fields.name}}!</p>
			{% if 'tier1' in commonVars.usersign.roles %}
		<p>To assist with your searches you can <a href="/pages/sample_records.html">view more information</a> about the variety of sample records available.</p>
			{%endif%}
		{% include "search.html" %}
		{% endif %}
	</div>
	{% endif %}
</div>
{% endblock %}
