{% extends "wikidatabase.html" %}
{% block body %}
<div id="static">
	<div id="searchtitle" class="darkgreen">
		<div class="wrap">
			<h2>Sample Records</h2>
		</div>
	</div>
	<div class="wrap">
		<div class="miniwrap bluebox lightblueborder">
			<p>The 2,500 entities you have access to have been selected from several multi-national hierarchies. These include:</p>
			<ul>
				<li><a href="http://www.myavoxdata.com/search?q=The+Dow+Chemical+Company+&avid=">The Dow Chemical Company</a></li>
				<li><a href="http://www.myavoxdata.com/search?q=Bank+of+New+York+Mellon+Corporation&avid=">Bank of New York Mellon Corporation</a></li>
				<li><a href="http://www.myavoxdata.com/search?q=Nomura+Holdings%2C+Inc&avid=">Nomura Holdings, Inc.</a></li>
				<li><a href="http://www.myavoxdata.com/search?q=Lloyds+Banking+Group+PLC&avid=">Lloyds Banking Group PLC</a></li>
				<li><a href="http://www.myavoxdata.com/search?q=Adidas+AG&avid=">Adidas AG</a></li>
				<li><a href="http://www.myavoxdata.com/search?q=State+Street+Corporation&avid=">State Street Corporation</a></li>
			</ul>
			<p>To view all the records published from a specific hierarchy, add a filter for "Ultimate Parent", with the value set to the specific entity, and clear the "company name" field.</p>
		</div>
	</div>	
</div>
{% endblock %}